
.ajustado_derecha{
    justify-content: space-between;
}
.anuncioBg{
  background-color: #fff;

  box-shadow:0px 0px 10px 1px #F28123 ;

  border:1px solid #000;
  border-radius: 8px;

  display: none;

  overflow: hidden;

  height: 1cm;
  width: 8cm;

  position: fixed;
  top: 50%;
  right: 0%;
  animation: bounce-in-right 1.1s both;
  
  
}
.anuncioTxt{
  text-align: center;
  vertical-align:top;
  font-family:'Poppins', sans-serif;
}

.Txt1{
  font-family:'Poppins', sans-serif;
  color: #000000;
}
.Txt2{
  font-family:'Poppins', sans-serif;
  color: orange;
}
.closeA{
  display:flex;
  justify-content: center;
  align-items: center;

  background-color: #F28123;

  color: #000000;
  
  width: 1cm;
  height: 1cm;

  border-radius: 0px 8px 8px 0px;
  border-width: 0.5px;

  position: relative;
  bottom:45px;
  left: 7.01cm;
  right: 1px;

  
}

@keyframes bounce-in-right {
  0% {
    transform: translateX(600px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateX(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateX(68px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateX(32px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateX(8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
}

.icon1{
    color: #ffffff;
    
}
.icon2{
    color: #F28123;
}